<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahoang.unitconverter" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ComputerJP"></activity>
        <activity android:name=".CookingMarta"></activity>
        <activity android:name=".MathCynthia"></activity>
        <activity android:name=".PhysicsCindy"></activity>
        <activity android:name=".CookingMarta_liquid"></activity>
        <activity android:name=".CookingMarta_oventemp"></activity>
        <activity android:name=".CookingMarta_solid"></activity>
        <activity android:name=".MathCynthia_angle"></activity>
        <activity android:name=".MathCynthia_area"></activity>
        <activity android:name=".MathCynthia_length"></activity>
        <activity android:name=".MathCynthia_volume"></activity>
        <activity android:name=".PhysicsMassForce"></activity>
        <activity android:name=".PhysicsMol"></activity>
        <activity android:name=".PhysicsPressure"></activity>
        <activity android:name=".PhysicsTemp"></activity>
        <activity android:name=".PhysicsTime"></activity>
    </application>

</manifest>
